<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.lab1.mybatis.model.Group" alias="Group"/>
        <typeAlias type="com.example.lab1.mybatis.model.Student" alias="Student"/>
        <typeAlias type="com.example.lab1.mybatis.model.Course" alias="Course"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="LabDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/GroupMapper.xml"/>
        <mapper resource="mybatis.xml/StudentMapper.xml"/>
        <mapper resource="mybatis.xml/CourseMapper.xml"/>
    </mappers>
</configuration>
